body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u613 {
=======
#u503 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u613_state0 {
=======
  height:60px;
}
#u503_state0 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
=======
  height:60px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u613_state0_content {
=======
#u503_state0_content {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u614 {
=======
#u504_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:0px;
  height:0px;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
  display:flex;
}
#u615 .text {
=======
  width:89px;
  height:45px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:8px;
  width:89px;
  height:45px;
  display:flex;
}
#u504 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u615_text {
=======
#u504_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u616_img {
=======
.u506_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:129px;
  height:73px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:129px;
  height:73px;
=======
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
#u616 .text {
=======
.u506 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u616_text {
=======
.u506_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u617_div {
=======
#u505-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:108px;
  height:58px;
=======
  width:89px;
  height:23px;
}
#u505-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u505-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u505-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:19px;
  width:465px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
<<<<<<< HEAD
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:108px;
  height:58px;
  display:flex;
}
#u617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:24px;
  width:89px;
  height:45px;
  display:flex;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u620_div {
=======
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u508_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u509_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:88px;
  height:23px;
=======
  width:101px;
  height:18px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u620 .text {
=======
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u509 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u620_text {
=======
#u509_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u619-1 {
=======
#u510 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:89px;
  height:23px;
}
#u619-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u619-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u619-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:34px;
  width:465px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u622_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u622_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u623_div {
=======
  width:0px;
  height:0px;
}
#u511_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:101px;
=======
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u623 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
=======
#u511 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u623 .text {
=======
#u511 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u623_text {
=======
#u511_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_div {
=======
#u512_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:54px;
=======
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u625 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
=======
#u512 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u625 .text {
=======
#u512 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u625_text {
=======
#u512_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u626_div {
=======
#u513_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:41px;
=======
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u626 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
=======
  text-align:right;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u626 .text {
=======
  text-align:right;
}
#u513 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u626_text {
=======
#u513_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u628_img {
=======
#u514_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
<<<<<<< HEAD
#u628 {
=======
#u514 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1920px;
  height:100px;
  display:flex;
}
<<<<<<< HEAD
#u628 .text {
=======
#u514 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u628_text {
=======
#u514_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u629 {
=======
#u515 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u630_div {
=======
#u516_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u630 {
=======
#u516 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:878px;
  top:195px;
  width:164px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u630 .text {
=======
#u516 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u630_text {
=======
#u516_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u631_div {
=======
#u517_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u631 {
=======
#u517 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:567px;
  top:274px;
  width:787px;
  height:221px;
  display:flex;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u631 .text {
=======
#u517 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u631_text {
=======
#u517_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u632 {
=======
#u518 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u633_div {
=======
#u519_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u633 {
=======
#u519 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:887px;
  top:572px;
  width:147px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u633 .text {
=======
#u519 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u633_text {
=======
#u519_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u635_div {
=======
.u521_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u635 {
=======
.u521 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  display:flex;
}
<<<<<<< HEAD
.u635 .text {
=======
.u521 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u637 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u638_div {
=======
.u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u523 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u524_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u638 {
=======
.u524 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:224px;
  width:360px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u638 .text {
=======
.u524 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u638_text {
=======
.u524_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u639_div {
=======
.u525_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u639 {
=======
.u525 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:326px;
  width:360px;
  height:98px;
  display:flex;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u639 .text {
=======
.u525 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u639_text {
=======
.u525_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u640_div {
=======
.u526_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u640 {
=======
.u526 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:274px;
  width:360px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u640 .text {
=======
.u526 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u640_text {
=======
.u526_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u641 {
=======
.u527 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
.u642_div {
=======
.u528_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u642 {
=======
.u528 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:35px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u642 .text {
=======
.u528 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u642_text {
=======
.u528_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u643_div {
=======
.u529_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u643 {
=======
.u529 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:156px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u643 .text {
=======
.u529 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u643_text {
=======
.u529_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u644_div {
=======
.u530_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u644 {
=======
.u530 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:276px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u644 .text {
=======
.u530 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u644_text {
=======
.u530_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u645_div {
=======
.u531_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u645 {
=======
.u531 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:397px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u645 .text {
=======
.u531 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u645_text {
=======
.u531_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u646 {
=======
.u532 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u634-1 {
=======
#u520-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
}
<<<<<<< HEAD
#u634 {
=======
#u520 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:761px;
  top:650px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u612.a {
=======
#u502.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u613.a {
=======
  height:60px;
}
#u503.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
  overflow:hidden;
}
#u615.a {
}
#u615_img.a {
}
#u615.a {
}
#u615_text.a {
}
#u615 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u616.a {
}
#u616_img.a {
}
#u616.a {
}
#u616_text.a {
}
#u616 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u617.a {
}
#u617_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617.a {
}
#u617_text.a {
}
#u617 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u618.a {
}
#u618_img.a {
}
#u618.a {
}
#u618_text.a {
}
#u618 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u619.a {
=======
  height:60px;
  overflow:hidden;
}
#u504.a {
}
#u504_img.a {
}
#u504.a {
}
#u504_text.a {
}
#u504 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u505.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u620.a {
}
.u620_div.a {
=======
.u506.a {
}
.u506_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
.u620.a {
}
.u620_text.a {
}
.u620 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u613_state0.a {
=======
.u506.a {
}
.u506_text.a {
}
.u506 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u503_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u621.a {
=======
#u507.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u622.a {
=======
#u508.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u623.a {
}
#u623_div.a {
=======
#u509.a {
}
#u509_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u623.a {
}
#u623_text.a {
}
#u623 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u625.a {
}
#u625_div.a {
=======
#u509.a {
}
#u509_text.a {
}
#u509 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u511.a {
}
#u511_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u625.a {
}
#u625_text.a {
}
#u625 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u626.a {
}
#u626_div.a {
=======
#u511.a {
}
#u511_text.a {
}
#u511 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u512.a {
}
#u512_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u626.a {
}
#u626_text.a {
}
#u626 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u627.a {
}
#u627_div.a {
=======
#u512.a {
}
#u512_text.a {
}
#u512 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u513.a {
}
#u513_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
<<<<<<< HEAD
#u627.a {
}
#u627_text.a {
}
#u627 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u622_state0.a {
=======
#u513.a {
}
#u513_text.a {
}
#u513 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u508_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u628.a {
}
#u628_img.a {
}
#u628.a {
}
#u628_text.a {
}
#u628 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u630.a {
}
#u630_div.a {
=======
#u514.a {
}
#u514_img.a {
}
#u514.a {
}
#u514_text.a {
}
#u514 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u516.a {
}
#u516_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u630.a {
}
#u630_text.a {
}
#u630 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u631.a {
}
#u631_div.a {
=======
#u516.a {
}
#u516_text.a {
}
#u516 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u517.a {
}
#u517_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u631.a {
}
#u631_text.a {
}
#u631 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u633.a {
}
#u633_div.a {
=======
#u517.a {
}
#u517_text.a {
}
#u517 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u519.a {
}
#u519_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u633.a {
}
#u633_text.a {
}
#u633 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u634.a {
=======
#u519.a {
}
#u519_text.a {
}
#u519 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u520.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u635.a {
}
.u635_div.a {
=======
.u521.a {
}
.u521_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u635.a {
}
.u635_text.a {
}
.u635 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u637.a {
}
.u637_img.a {
}
.u637.a {
}
.u637_text.a {
}
.u637 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u638.a {
}
.u638_div.a {
=======
.u521.a {
}
.u521_text.a {
}
.u521 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u523.a {
}
.u523_img.a {
}
.u523.a {
}
.u523_text.a {
}
.u523 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u524.a {
}
.u524_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u638.a {
}
.u638_text.a {
}
.u638 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u639.a {
}
.u639_div.a {
=======
.u524.a {
}
.u524_text.a {
}
.u524 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u525.a {
}
.u525_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u639.a {
}
.u639_text.a {
}
.u639 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u640.a {
}
.u640_div.a {
=======
.u525.a {
}
.u525_text.a {
}
.u525 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u526.a {
}
.u526_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u640.a {
}
.u640_text.a {
}
.u640 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u642.a {
}
.u642_div.a {
=======
.u526.a {
}
.u526_text.a {
}
.u526 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u528.a {
}
.u528_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u642.a {
}
.u642_text.a {
}
.u642 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u643.a {
}
.u643_div.a {
=======
.u528.a {
}
.u528_text.a {
}
.u528 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u529.a {
}
.u529_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u643.a {
}
.u643_text.a {
}
.u643 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u644.a {
}
.u644_div.a {
=======
.u529.a {
}
.u529_text.a {
}
.u529 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u530.a {
}
.u530_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u644.a {
}
.u644_text.a {
}
.u644 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u645.a {
}
.u645_div.a {
=======
.u530.a {
}
.u530_text.a {
}
.u530 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u531.a {
}
.u531_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u645.a {
}
.u645_text.a {
}
.u645 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u646.a {
=======
.u531.a {
}
.u531_text.a {
}
.u531 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u532.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
}
