body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u73 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:60px;
}
#u73_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:89px;
  height:45px;
  display:flex;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u76_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u75-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u75-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:62px;
  height:23px;
}
#u75-3 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:56px;
  height:23px;
}
#u75-4 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:53px;
  height:23px;
}
#u75-5 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:106px;
  height:23px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:19px;
  width:566px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:1920px;
  height:83px;
}
#u78_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u81 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:130px;
  width:167px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:211px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:211px;
  display:flex;
}
.u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
.u88 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:170px;
  height:170px;
  display:flex;
}
.u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
.u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:180px;
  height:41px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
.u89 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:211px;
}
#u85-2 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:180px;
  height:211px;
}
#u85-3 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:180px;
  height:211px;
}
#u85-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:277px;
  width:180px;
  height:211px;
}
#u85-5 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:277px;
  width:180px;
  height:211px;
}
#u85-6 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:277px;
  width:180px;
  height:211px;
}
#u85-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:554px;
  width:180px;
  height:212px;
}
#u85-8 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:554px;
  width:180px;
  height:212px;
}
#u85-9 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:554px;
  width:180px;
  height:211px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:200px;
  width:810px;
  height:766px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
