body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u200 {
=======
#u126 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u200_state0 {
=======
  height:60px;
}
#u126_state0 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
=======
  height:60px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u200_state0_content {
=======
#u126_state0_content {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u201 {
=======
#u127_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:0px;
  height:0px;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
  display:flex;
}
#u202 .text {
=======
  width:89px;
  height:45px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:8px;
  width:89px;
  height:45px;
  display:flex;
}
#u127 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u202_text {
=======
#u127_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u203_img {
=======
.u129_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:129px;
  height:73px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:129px;
  height:73px;
=======
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
#u203 .text {
=======
.u129 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u203_text {
=======
.u129_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u204_div {
=======
#u128-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:108px;
  height:58px;
=======
  width:89px;
  height:23px;
}
#u128-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u128-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u128-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:19px;
  width:465px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
<<<<<<< HEAD
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:108px;
  height:58px;
  display:flex;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:24px;
  width:89px;
  height:45px;
  display:flex;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u207_div {
=======
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1660px;
  width:1920px;
  height:83px;
}
#u131_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u132_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:88px;
  height:23px;
=======
  width:101px;
  height:18px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u207 .text {
=======
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u132 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u207_text {
=======
#u132_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u206-1 {
=======
#u133 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:89px;
  height:23px;
}
#u206-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u206-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u206-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:34px;
  width:465px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1660px;
  width:1920px;
  height:83px;
}
#u209_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u210_div {
=======
  width:0px;
  height:0px;
}
#u134_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:101px;
=======
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u210 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
=======
#u134 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u210 .text {
=======
#u134 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u210_text {
=======
#u134_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_div {
=======
#u135_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:54px;
=======
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u212 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
=======
#u135 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u212 .text {
=======
#u135 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u212_text {
=======
#u135_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u213_div {
=======
#u136_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:41px;
=======
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u213 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
=======
  text-align:right;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u213 .text {
=======
  text-align:right;
}
#u136 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u213_text {
=======
#u136_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u215_img {
=======
#u137_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
<<<<<<< HEAD
#u215 {
=======
#u137 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1920px;
  height:100px;
  display:flex;
}
<<<<<<< HEAD
#u215 .text {
=======
#u137 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u215_text {
=======
#u137_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u216 {
=======
#u138 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u217_div {
=======
#u139_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u217 {
=======
#u139 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:878px;
  top:195px;
  width:164px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u217 .text {
=======
#u139 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u217_text {
=======
#u139_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u218_div {
=======
#u140_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u218 {
=======
#u140 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:567px;
  top:274px;
  width:787px;
  height:221px;
  display:flex;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u218 .text {
=======
#u140 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u218_text {
=======
#u140_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u219 {
=======
#u141 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u220_div {
=======
#u142_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u220 {
=======
#u142 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:887px;
  top:572px;
  width:147px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u220 .text {
=======
#u142 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u220_text {
=======
#u142_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u222_div {
=======
.u144_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u222 {
=======
.u144 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  display:flex;
}
<<<<<<< HEAD
.u222 .text {
=======
.u144 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u224 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u225_div {
=======
.u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u146 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u147_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u225 {
=======
.u147 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:224px;
  width:360px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u225 .text {
=======
.u147 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u225_text {
=======
.u147_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u226_div {
=======
.u148_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u226 {
=======
.u148 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:326px;
  width:360px;
  height:98px;
  display:flex;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u226 .text {
=======
.u148 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u226_text {
=======
.u148_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u227_div {
=======
.u149_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u227 {
=======
.u149 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:274px;
  width:360px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u227 .text {
=======
.u149 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u227_text {
=======
.u149_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u228 {
=======
.u150 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
.u229_div {
=======
.u151_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u229 {
=======
.u151 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:35px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u229 .text {
=======
.u151 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u229_text {
=======
.u151_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u230_div {
=======
.u152_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u230 {
=======
.u152 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:156px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u230 .text {
=======
.u152 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u230_text {
=======
.u152_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u231_div {
=======
.u153_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u231 {
=======
.u153 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:276px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u231 .text {
=======
.u153 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u231_text {
=======
.u153_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u232_div {
=======
.u154_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u232 {
=======
.u154 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:397px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u232 .text {
=======
.u154 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u232_text {
=======
.u154_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u233 {
=======
.u155 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u221-1 {
=======
#u143-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
}
<<<<<<< HEAD
#u221 {
=======
#u143 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:761px;
  top:650px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u199.a {
=======
#u125.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u200.a {
=======
  height:60px;
}
#u126.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
  overflow:hidden;
}
#u202.a {
}
#u202_img.a {
}
#u202.a {
}
#u202_text.a {
}
#u202 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u203.a {
}
#u203_img.a {
}
#u203.a {
}
#u203_text.a {
}
#u203 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u204.a {
}
#u204_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204.a {
}
#u204_text.a {
}
#u204 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u205.a {
}
#u205_img.a {
}
#u205.a {
}
#u205_text.a {
}
#u205 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u206.a {
=======
  height:60px;
  overflow:hidden;
}
#u127.a {
}
#u127_img.a {
}
#u127.a {
}
#u127_text.a {
}
#u127 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u128.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u207.a {
}
.u207_div.a {
=======
.u129.a {
}
.u129_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
.u207.a {
}
.u207_text.a {
}
.u207 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u200_state0.a {
=======
.u129.a {
}
.u129_text.a {
}
.u129 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u126_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u208.a {
=======
#u130.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:1660px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u209.a {
=======
#u131.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:1660px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u210.a {
}
#u210_div.a {
=======
#u132.a {
}
#u132_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u210.a {
}
#u210_text.a {
}
#u210 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u212.a {
}
#u212_div.a {
=======
#u132.a {
}
#u132_text.a {
}
#u132 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u134.a {
}
#u134_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u212.a {
}
#u212_text.a {
}
#u212 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u213.a {
}
#u213_div.a {
=======
#u134.a {
}
#u134_text.a {
}
#u134 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u135.a {
}
#u135_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u213.a {
}
#u213_text.a {
}
#u213 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u214.a {
}
#u214_div.a {
=======
#u135.a {
}
#u135_text.a {
}
#u135 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u136.a {
}
#u136_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
<<<<<<< HEAD
#u214.a {
}
#u214_text.a {
}
#u214 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u209_state0.a {
=======
#u136.a {
}
#u136_text.a {
}
#u136 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u131_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u215.a {
}
#u215_img.a {
}
#u215.a {
}
#u215_text.a {
}
#u215 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u217.a {
}
#u217_div.a {
=======
#u137.a {
}
#u137_img.a {
}
#u137.a {
}
#u137_text.a {
}
#u137 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u139.a {
}
#u139_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u217.a {
}
#u217_text.a {
}
#u217 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u218.a {
}
#u218_div.a {
=======
#u139.a {
}
#u139_text.a {
}
#u139 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u140.a {
}
#u140_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u218.a {
}
#u218_text.a {
}
#u218 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u220.a {
}
#u220_div.a {
=======
#u140.a {
}
#u140_text.a {
}
#u140 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u142.a {
}
#u142_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u220.a {
}
#u220_text.a {
}
#u220 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u221.a {
=======
#u142.a {
}
#u142_text.a {
}
#u142 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u143.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u222.a {
}
.u222_div.a {
=======
.u144.a {
}
.u144_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u222.a {
}
.u222_text.a {
}
.u222 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u224.a {
}
.u224_img.a {
}
.u224.a {
}
.u224_text.a {
}
.u224 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u225.a {
}
.u225_div.a {
=======
.u144.a {
}
.u144_text.a {
}
.u144 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u146.a {
}
.u146_img.a {
}
.u146.a {
}
.u146_text.a {
}
.u146 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u147.a {
}
.u147_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u225.a {
}
.u225_text.a {
}
.u225 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u226.a {
}
.u226_div.a {
=======
.u147.a {
}
.u147_text.a {
}
.u147 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u148.a {
}
.u148_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u226.a {
}
.u226_text.a {
}
.u226 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u227.a {
}
.u227_div.a {
=======
.u148.a {
}
.u148_text.a {
}
.u148 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u149.a {
}
.u149_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u227.a {
}
.u227_text.a {
}
.u227 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u229.a {
}
.u229_div.a {
=======
.u149.a {
}
.u149_text.a {
}
.u149 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u151.a {
}
.u151_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u229.a {
}
.u229_text.a {
}
.u229 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u230.a {
}
.u230_div.a {
=======
.u151.a {
}
.u151_text.a {
}
.u151 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u152.a {
}
.u152_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u230.a {
}
.u230_text.a {
}
.u230 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u231.a {
}
.u231_div.a {
=======
.u152.a {
}
.u152_text.a {
}
.u152 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u153.a {
}
.u153_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u231.a {
}
.u231_text.a {
}
.u231 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u232.a {
}
.u232_div.a {
=======
.u153.a {
}
.u153_text.a {
}
.u153 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u154.a {
}
.u154_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u232.a {
}
.u232_text.a {
}
.u232 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u233.a {
=======
.u154.a {
}
.u154_text.a {
}
.u154 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u155.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
}
