body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u228 {
=======
#u252 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:75px;
}
#u228_state0 {
=======
  height:60px;
}
#u252_state0 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:75px;
=======
  height:60px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u228_state0_content {
=======
#u252_state0_content {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u229_img {
=======
#u253_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:117px;
  height:60px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:117px;
  height:60px;
  display:flex;
}
#u229 .text {
=======
  width:89px;
  height:45px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:89px;
  height:45px;
  display:flex;
}
#u253 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u229_text {
=======
#u253_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
.u231_div {
=======
.u255_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:132px;
  height:34px;
=======
  width:88px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
<<<<<<< HEAD
  font-size:30px;
}
.u231 {
=======
  font-size:20px;
}
.u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u254-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:132px;
  height:34px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
.u231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u230-1 {
=======
  width:89px;
  height:23px;
}
#u254-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:62px;
  height:23px;
}
#u254-3 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
<<<<<<< HEAD
  width:134px;
  height:34px;
}
#u230-2 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:0px;
  width:93px;
  height:34px;
}
#u230-3 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:84px;
  height:34px;
}
#u230-4 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:0px;
  width:79px;
  height:34px;
}
#u230-5 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:159px;
  height:34px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:23px;
  width:749px;
  height:34px;
=======
  width:56px;
  height:23px;
}
#u254-4 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:53px;
  height:23px;
}
#u254-5 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:106px;
  height:23px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:19px;
  width:566px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
#u233 {
=======
#u257 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u233_state0 {
=======
#u257_state0 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u233_state0_content {
=======
#u257_state0_content {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u234_div {
=======
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u259 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u234 {
=======
#u260 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u234 .text {
=======
#u260 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u234_text {
=======
#u260_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_div {
=======
#u261_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u236 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
=======
#u261 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u236 .text {
=======
#u261 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u236_text {
=======
#u261_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u237_div {
=======
#u262_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
<<<<<<< HEAD
#u237 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
=======
#u262 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
<<<<<<< HEAD
#u237 .text {
=======
#u262 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u237_text {
=======
#u262_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u238_div {
=======
#u263_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u238 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
=======
#u263 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:186px;
  width:184px;
  height:15px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  display:flex;
}
<<<<<<< HEAD
#u238 .text {
=======
#u263 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u238_text {
=======
#u263_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
