body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u888 {
=======
#u750 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u888_state0 {
=======
  height:60px;
}
#u750_state0 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
=======
  height:60px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u888_state0_content {
=======
#u750_state0_content {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u889 {
=======
#u751_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:0px;
  height:0px;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
  display:flex;
}
#u890 .text {
=======
  width:89px;
  height:45px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:8px;
  width:89px;
  height:45px;
  display:flex;
}
#u751 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u890_text {
=======
#u751_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u891_img {
=======
.u753_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:129px;
  height:73px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:129px;
  height:73px;
=======
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
#u891 .text {
=======
.u753 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u891_text {
=======
.u753_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u892_div {
=======
#u752-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:108px;
  height:58px;
=======
  width:89px;
  height:23px;
}
#u752-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u752-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u752-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:19px;
  width:465px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
<<<<<<< HEAD
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:108px;
  height:58px;
  display:flex;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:24px;
  width:89px;
  height:45px;
  display:flex;
}
#u893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u895_div {
=======
}
#u755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1500px;
  width:1920px;
  height:83px;
}
#u755_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u756_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:88px;
  height:23px;
=======
  width:101px;
  height:18px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u895 .text {
=======
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u756 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u895_text {
=======
#u756_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u894-1 {
=======
#u757 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:89px;
  height:23px;
}
#u894-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u894-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u894-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:34px;
  width:465px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1500px;
  width:1920px;
  height:83px;
}
#u897_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u898_div {
=======
  width:0px;
  height:0px;
}
#u758_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:101px;
=======
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u898 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
=======
#u758 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u898 .text {
=======
#u758 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u898_text {
=======
#u758_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_div {
=======
#u759_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:54px;
=======
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u900 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
=======
#u759 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u900 .text {
=======
#u759 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u900_text {
=======
#u759_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u901_div {
=======
#u760_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:41px;
=======
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u901 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
=======
  text-align:right;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u901 .text {
=======
  text-align:right;
}
#u760 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u901_text {
=======
#u760_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u903_img {
=======
#u761_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
<<<<<<< HEAD
#u903 {
=======
#u761 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1920px;
  height:100px;
  display:flex;
}
<<<<<<< HEAD
#u903 .text {
=======
#u761 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u903_text {
=======
#u761_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u904 {
=======
#u762 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u905_div {
=======
#u763_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u905 {
=======
#u763 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:878px;
  top:195px;
  width:164px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u905 .text {
=======
#u763 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u905_text {
=======
#u763_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u906_div {
=======
#u764_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u906 {
=======
#u764 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:567px;
  top:274px;
  width:787px;
  height:221px;
  display:flex;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u906 .text {
=======
#u764 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u906_text {
=======
#u764_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u907 {
=======
#u765 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u908_div {
=======
#u766_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u908 {
=======
#u766 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:887px;
  top:572px;
  width:147px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u908 .text {
=======
#u766 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u908_text {
=======
#u766_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u910_div {
=======
.u768_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u910 {
=======
.u768 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  display:flex;
}
<<<<<<< HEAD
.u910 .text {
=======
.u768 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u912 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u913_div {
=======
.u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u770 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u771_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u913 {
=======
.u771 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:224px;
  width:360px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u913 .text {
=======
.u771 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u913_text {
=======
.u771_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u914_div {
=======
.u772_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u914 {
=======
.u772 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:326px;
  width:360px;
  height:98px;
  display:flex;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u914 .text {
=======
.u772 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u914_text {
=======
.u772_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u915_div {
=======
.u773_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u915 {
=======
.u773 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:274px;
  width:360px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u915 .text {
=======
.u773 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u915_text {
=======
.u773_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u916 {
=======
.u774 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
.u917_div {
=======
.u775_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u917 {
=======
.u775 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:35px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u917 .text {
=======
.u775 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u917_text {
=======
.u775_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u918_div {
=======
.u776_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u918 {
=======
.u776 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:156px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u918 .text {
=======
.u776 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u918_text {
=======
.u776_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u919_div {
=======
.u777_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u919 {
=======
.u777 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:276px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u919 .text {
=======
.u777 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u919_text {
=======
.u777_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u920_div {
=======
.u778_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u920 {
=======
.u778 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:397px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u920 .text {
=======
.u778 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u920_text {
=======
.u778_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u921 {
=======
.u779 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u909-1 {
=======
#u767-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
}
<<<<<<< HEAD
#u909 {
=======
#u767 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:761px;
  top:650px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u887.a {
=======
#u749.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u888.a {
=======
  height:60px;
}
#u750.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
  overflow:hidden;
}
#u890.a {
}
#u890_img.a {
}
#u890.a {
}
#u890_text.a {
}
#u890 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u891.a {
}
#u891_img.a {
}
#u891.a {
}
#u891_text.a {
}
#u891 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u892.a {
}
#u892_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892.a {
}
#u892_text.a {
}
#u892 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u893.a {
}
#u893_img.a {
}
#u893.a {
}
#u893_text.a {
}
#u893 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u894.a {
=======
  height:60px;
  overflow:hidden;
}
#u751.a {
}
#u751_img.a {
}
#u751.a {
}
#u751_text.a {
}
#u751 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u752.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u895.a {
}
.u895_div.a {
=======
.u753.a {
}
.u753_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
.u895.a {
}
.u895_text.a {
}
.u895 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u888_state0.a {
=======
.u753.a {
}
.u753_text.a {
}
.u753 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u750_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u896.a {
=======
#u754.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:1500px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u897.a {
=======
#u755.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:1500px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u898.a {
}
#u898_div.a {
=======
#u756.a {
}
#u756_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u898.a {
}
#u898_text.a {
}
#u898 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u900.a {
}
#u900_div.a {
=======
#u756.a {
}
#u756_text.a {
}
#u756 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u758.a {
}
#u758_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u900.a {
}
#u900_text.a {
}
#u900 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u901.a {
}
#u901_div.a {
=======
#u758.a {
}
#u758_text.a {
}
#u758 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u759.a {
}
#u759_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u901.a {
}
#u901_text.a {
}
#u901 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u902.a {
}
#u902_div.a {
=======
#u759.a {
}
#u759_text.a {
}
#u759 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u760.a {
}
#u760_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
<<<<<<< HEAD
#u902.a {
}
#u902_text.a {
}
#u902 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u897_state0.a {
=======
#u760.a {
}
#u760_text.a {
}
#u760 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u755_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u903.a {
}
#u903_img.a {
}
#u903.a {
}
#u903_text.a {
}
#u903 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u905.a {
}
#u905_div.a {
=======
#u761.a {
}
#u761_img.a {
}
#u761.a {
}
#u761_text.a {
}
#u761 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u763.a {
}
#u763_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u905.a {
}
#u905_text.a {
}
#u905 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u906.a {
}
#u906_div.a {
=======
#u763.a {
}
#u763_text.a {
}
#u763 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u764.a {
}
#u764_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u906.a {
}
#u906_text.a {
}
#u906 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u908.a {
}
#u908_div.a {
=======
#u764.a {
}
#u764_text.a {
}
#u764 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u766.a {
}
#u766_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u908.a {
}
#u908_text.a {
}
#u908 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u909.a {
=======
#u766.a {
}
#u766_text.a {
}
#u766 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u767.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u910.a {
}
.u910_div.a {
=======
.u768.a {
}
.u768_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u910.a {
}
.u910_text.a {
}
.u910 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u912.a {
}
.u912_img.a {
}
.u912.a {
}
.u912_text.a {
}
.u912 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u913.a {
}
.u913_div.a {
=======
.u768.a {
}
.u768_text.a {
}
.u768 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u770.a {
}
.u770_img.a {
}
.u770.a {
}
.u770_text.a {
}
.u770 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u771.a {
}
.u771_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u913.a {
}
.u913_text.a {
}
.u913 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u914.a {
}
.u914_div.a {
=======
.u771.a {
}
.u771_text.a {
}
.u771 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u772.a {
}
.u772_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u914.a {
}
.u914_text.a {
}
.u914 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u915.a {
}
.u915_div.a {
=======
.u772.a {
}
.u772_text.a {
}
.u772 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u773.a {
}
.u773_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u915.a {
}
.u915_text.a {
}
.u915 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u917.a {
}
.u917_div.a {
=======
.u773.a {
}
.u773_text.a {
}
.u773 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u775.a {
}
.u775_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u917.a {
}
.u917_text.a {
}
.u917 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u918.a {
}
.u918_div.a {
=======
.u775.a {
}
.u775_text.a {
}
.u775 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u776.a {
}
.u776_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u918.a {
}
.u918_text.a {
}
.u918 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u919.a {
}
.u919_div.a {
=======
.u776.a {
}
.u776_text.a {
}
.u776 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u777.a {
}
.u777_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u919.a {
}
.u919_text.a {
}
.u919 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u920.a {
}
.u920_div.a {
=======
.u777.a {
}
.u777_text.a {
}
.u777 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u778.a {
}
.u778_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u920.a {
}
.u920_text.a {
}
.u920 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u921.a {
=======
.u778.a {
}
.u778_text.a {
}
.u778 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u779.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
}
