body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u818 {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:90px;
}
#u818_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
  display:flex;
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:73px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:129px;
  height:73px;
  display:flex;
}
#u821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:108px;
  height:58px;
  display:flex;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:24px;
  width:89px;
  height:45px;
  display:flex;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u824-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
}
#u824-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u824-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u824-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:34px;
  width:465px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u827_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1920px;
  height:100px;
  display:flex;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:195px;
  width:164px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:274px;
  width:787px;
  height:221px;
  display:flex;
  font-size:35px;
  text-align:center;
}
#u836 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:572px;
  width:147px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  display:flex;
}
.u840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u842 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
.u843 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:224px;
  width:360px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
.u843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
.u844 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:326px;
  width:360px;
  height:98px;
  display:flex;
  font-size:20px;
  text-align:center;
}
.u844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u845 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:274px;
  width:360px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u847 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:35px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
.u847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u848 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:156px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
.u848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u849 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:276px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
.u849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u850 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:397px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
.u850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u839-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:650px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u817.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
}
#u818.a {
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
  height:90px;
  overflow:hidden;
}
#u820.a {
}
#u820_img.a {
}
#u820.a {
}
#u820_text.a {
}
#u820 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u821.a {
}
#u821_img.a {
}
#u821.a {
}
#u821_text.a {
}
#u821 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u822.a {
}
#u822_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822.a {
}
#u822_text.a {
}
#u822 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u823.a {
}
#u823_img.a {
}
#u823.a {
}
#u823_text.a {
}
#u823 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u824.a {
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u825.a {
}
.u825_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u825.a {
}
.u825_text.a {
}
.u825 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u818_state0.a {
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826.a {
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u827.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u828.a {
}
#u828_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u828.a {
}
#u828_text.a {
}
#u828 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u830.a {
}
#u830_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u830.a {
}
#u830_text.a {
}
#u830 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u831.a {
}
#u831_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u831.a {
}
#u831_text.a {
}
#u831 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u832.a {
}
#u832_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u832.a {
}
#u832_text.a {
}
#u832 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u827_state0.a {
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833.a {
}
#u833_img.a {
}
#u833.a {
}
#u833_text.a {
}
#u833 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u835.a {
}
#u835_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u835.a {
}
#u835_text.a {
}
#u835 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u836.a {
}
#u836_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
#u836.a {
}
#u836_text.a {
}
#u836 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u838.a {
}
#u838_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u838.a {
}
#u838_text.a {
}
#u838 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u839.a {
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u840.a {
}
.u840_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u840.a {
}
.u840_text.a {
}
.u840 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u842.a {
}
.u842_img.a {
}
.u842.a {
}
.u842_text.a {
}
.u842 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u843.a {
}
.u843_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
.u843.a {
}
.u843_text.a {
}
.u843 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u844.a {
}
.u844_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
.u844.a {
}
.u844_text.a {
}
.u844 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u845.a {
}
.u845_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
.u845.a {
}
.u845_text.a {
}
.u845 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u847.a {
}
.u847_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u847.a {
}
.u847_text.a {
}
.u847 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u848.a {
}
.u848_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u848.a {
}
.u848_text.a {
}
.u848 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u849.a {
}
.u849_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u849.a {
}
.u849_text.a {
}
.u849 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u850.a {
}
.u850_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
.u850.a {
}
.u850_text.a {
}
.u850 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u851.a {
}
