body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u818 {
=======
#u688 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u818_state0 {
=======
  height:60px;
}
#u688_state0 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
=======
  height:60px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u818_state0_content {
=======
#u688_state0_content {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u819 {
=======
#u689_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:0px;
  height:0px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:90px;
  display:flex;
}
#u820 .text {
=======
  width:89px;
  height:45px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:8px;
  width:89px;
  height:45px;
  display:flex;
}
#u689 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u820_text {
=======
#u689_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u821_img {
=======
.u691_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:129px;
  height:73px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:129px;
  height:73px;
=======
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
#u821 .text {
=======
.u691 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u821_text {
=======
.u691_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u822_div {
=======
#u690-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:108px;
  height:58px;
=======
  width:89px;
  height:23px;
}
#u690-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u690-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u690-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:19px;
  width:465px;
  height:23px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
<<<<<<< HEAD
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:17px;
  width:108px;
  height:58px;
  display:flex;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:24px;
  width:89px;
  height:45px;
  display:flex;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u825_div {
=======
}
#u693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u693_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u694_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:88px;
  height:23px;
=======
  width:101px;
  height:18px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u825 .text {
=======
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u694 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u825_text {
=======
#u694_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u824-1 {
=======
#u695 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:89px;
  height:23px;
}
#u824-2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:67px;
  height:23px;
}
#u824-3 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:53px;
  height:23px;
}
#u824-4 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:106px;
  height:23px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:34px;
  width:465px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
#u827_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:83px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u828_div {
=======
  width:0px;
  height:0px;
}
#u696_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:101px;
=======
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u828 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:101px;
=======
#u696 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u828 .text {
=======
#u696 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u828_text {
=======
#u696_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830_div {
=======
#u697_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:54px;
=======
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u830 {
  border-width:0px;
  position:absolute;
  left:1863px;
  top:10px;
  width:54px;
=======
#u697 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u830 .text {
=======
#u697 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u830_text {
=======
#u697_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u831_div {
=======
#u698_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
<<<<<<< HEAD
  width:41px;
=======
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1876px;
  top:33px;
  width:41px;
=======
  text-align:right;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
<<<<<<< HEAD
}
#u831 .text {
=======
  text-align:right;
}
#u698 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u831_text {
=======
#u698_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:55px;
  width:105px;
  height:18px;
  display:flex;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u833_img {
=======
#u699_img {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
<<<<<<< HEAD
#u833 {
=======
#u699 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1920px;
  height:100px;
  display:flex;
}
<<<<<<< HEAD
#u833 .text {
=======
#u699 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u833_text {
=======
#u699_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u834 {
=======
#u700 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u835_div {
=======
#u701_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u835 {
=======
#u701 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:878px;
  top:195px;
  width:164px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u835 .text {
=======
#u701 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u835_text {
=======
#u701_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u836_div {
=======
#u702_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u836 {
=======
#u702 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:567px;
  top:274px;
  width:787px;
  height:221px;
  display:flex;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u836 .text {
=======
#u702 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u836_text {
=======
#u702_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u837 {
=======
#u703 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u838_div {
=======
#u704_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u838 {
=======
#u704 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:887px;
  top:572px;
  width:147px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u838 .text {
=======
#u704 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u838_text {
=======
#u704_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u840_div {
=======
.u706_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u840 {
=======
.u706 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  display:flex;
}
<<<<<<< HEAD
.u840 .text {
=======
.u706 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u842 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u843_div {
=======
.u706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:194px;
}
.u708 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:194px;
  height:194px;
  display:flex;
}
.u708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u709_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u843 {
=======
.u709 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:224px;
  width:360px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u843 .text {
=======
.u709 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u843_text {
=======
.u709_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u844_div {
=======
.u710_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u844 {
=======
.u710 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:326px;
  width:360px;
  height:98px;
  display:flex;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u844 .text {
=======
.u710 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u844_text {
=======
.u710_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u845_div {
=======
.u711_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u845 {
=======
.u711 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:22px;
  top:274px;
  width:360px;
  height:32px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u845 .text {
=======
.u711 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u845_text {
=======
.u711_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
.u846 {
=======
.u712 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
.u847_div {
=======
.u713_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u847 {
=======
.u713 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:35px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u847 .text {
=======
.u713 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u847_text {
=======
.u713_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u848_div {
=======
.u714_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u848 {
=======
.u714 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:156px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u848 .text {
=======
.u714 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u848_text {
=======
.u714_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u849_div {
=======
.u715_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u849 {
=======
.u715 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:276px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u849 .text {
=======
.u715 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u849_text {
=======
.u715_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u850_div {
=======
.u716_div {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u850 {
=======
.u716 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:124px;
  top:397px;
  width:153px;
  height:27px;
  display:flex;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u850 .text {
=======
.u716 .text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
.u850_text {
=======
.u716_text {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
.u851 {
=======
.u717 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u839-1 {
=======
#u705-1 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
}
<<<<<<< HEAD
#u839 {
=======
#u705 {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:761px;
  top:650px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u817.a {
=======
#u687.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
}
#u818.a {
=======
  height:60px;
}
#u688.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:fixed;
  left:50%;
  margin-left:-960px;
  top:0px;
  width:1920px;
<<<<<<< HEAD
  height:90px;
  overflow:hidden;
}
#u820.a {
}
#u820_img.a {
}
#u820.a {
}
#u820_text.a {
}
#u820 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u821.a {
}
#u821_img.a {
}
#u821.a {
}
#u821_text.a {
}
#u821 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u822.a {
}
#u822_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822.a {
}
#u822_text.a {
}
#u822 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u823.a {
}
#u823_img.a {
}
#u823.a {
}
#u823_text.a {
}
#u823 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u824.a {
=======
  height:60px;
  overflow:hidden;
}
#u689.a {
}
#u689_img.a {
}
#u689.a {
}
#u689_text.a {
}
#u689 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u690.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u825.a {
}
.u825_div.a {
=======
.u691.a {
}
.u691_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
<<<<<<< HEAD
.u825.a {
}
.u825_text.a {
}
.u825 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u818_state0.a {
=======
.u691.a {
}
.u691_text.a {
}
.u691 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u688_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u826.a {
=======
#u692.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u827.a {
=======
#u693.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:1920px;
  height:83px;
}
<<<<<<< HEAD
#u828.a {
}
#u828_div.a {
=======
#u694.a {
}
#u694_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u828.a {
}
#u828_text.a {
}
#u828 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u830.a {
}
#u830_div.a {
=======
#u694.a {
}
#u694_text.a {
}
#u694 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u696.a {
}
#u696_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u830.a {
}
#u830_text.a {
}
#u830 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u831.a {
}
#u831_div.a {
=======
#u696.a {
}
#u696_text.a {
}
#u696 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u697.a {
}
#u697_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u831.a {
}
#u831_text.a {
}
#u831 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u832.a {
}
#u832_div.a {
=======
#u697.a {
}
#u697_text.a {
}
#u697 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u698.a {
}
#u698_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
<<<<<<< HEAD
#u832.a {
}
#u832_text.a {
}
#u832 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u827_state0.a {
=======
#u698.a {
}
#u698_text.a {
}
#u698 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u693_state0.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u833.a {
}
#u833_img.a {
}
#u833.a {
}
#u833_text.a {
}
#u833 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u835.a {
}
#u835_div.a {
=======
#u699.a {
}
#u699_img.a {
}
#u699.a {
}
#u699_text.a {
}
#u699 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u701.a {
}
#u701_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u835.a {
}
#u835_text.a {
}
#u835 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u836.a {
}
#u836_div.a {
=======
#u701.a {
}
#u701_text.a {
}
#u701 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u702.a {
}
#u702_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
#u836.a {
}
#u836_text.a {
}
#u836 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u838.a {
}
#u838_div.a {
=======
#u702.a {
}
#u702_text.a {
}
#u702 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u704.a {
}
#u704_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
<<<<<<< HEAD
#u838.a {
}
#u838_text.a {
}
#u838 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u839.a {
=======
#u704.a {
}
#u704_text.a {
}
#u704 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u705.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
<<<<<<< HEAD
.u840.a {
}
.u840_div.a {
=======
.u706.a {
}
.u706_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
.u840.a {
}
.u840_text.a {
}
.u840 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u842.a {
}
.u842_img.a {
}
.u842.a {
}
.u842_text.a {
}
.u842 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u843.a {
}
.u843_div.a {
=======
.u706.a {
}
.u706_text.a {
}
.u706 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u708.a {
}
.u708_img.a {
}
.u708.a {
}
.u708_text.a {
}
.u708 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
.u709.a {
}
.u709_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  text-align:center;
}
<<<<<<< HEAD
.u843.a {
}
.u843_text.a {
}
.u843 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u844.a {
}
.u844_div.a {
=======
.u709.a {
}
.u709_text.a {
}
.u709 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u710.a {
}
.u710_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
<<<<<<< HEAD
.u844.a {
}
.u844_text.a {
}
.u844 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u845.a {
}
.u845_div.a {
=======
.u710.a {
}
.u710_text.a {
}
.u710 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u711.a {
}
.u711_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
<<<<<<< HEAD
.u845.a {
}
.u845_text.a {
}
.u845 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u847.a {
}
.u847_div.a {
=======
.u711.a {
}
.u711_text.a {
}
.u711 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u713.a {
}
.u713_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u847.a {
}
.u847_text.a {
}
.u847 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u848.a {
}
.u848_div.a {
=======
.u713.a {
}
.u713_text.a {
}
.u713 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u714.a {
}
.u714_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u848.a {
}
.u848_text.a {
}
.u848 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u849.a {
}
.u849_div.a {
=======
.u714.a {
}
.u714_text.a {
}
.u714 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u715.a {
}
.u715_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u849.a {
}
.u849_text.a {
}
.u849 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u850.a {
}
.u850_div.a {
=======
.u715.a {
}
.u715_text.a {
}
.u715 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u716.a {
}
.u716_div.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
  text-align:center;
}
<<<<<<< HEAD
.u850.a {
}
.u850_text.a {
}
.u850 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u851.a {
=======
.u716.a {
}
.u716_text.a {
}
.u716 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
.u717.a {
>>>>>>> 20b416d5de716914547dbf96401cf5998574c9c8
}
